{
  "atprk_devoutattackmission" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Cryogenic Tomb",
    "message" : "\n\nReady to explore the Cryogenic Tomb?\n^red;You'll want to have very good equipment for this.",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/objects/atprk_relicseeker/atprk_relicseekerlibra/atprk_libraportrait2.png"} ]
    },
    "labels" : {
      "name" : "Libra Eclipse"
    }
  }
}
