{
  "canBookmark" : true,
  "bookmarkName" : "ST Syllectis",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : true,
  "destinations" : [
    {
      "name" : "Beam to Ship",
      "planetName" : "",
      "warpAction" : "OwnShip",
      "icon" : "beamup"
    },
    {
      "name" : "Infinity Maze",
      "planetName" : "Unknown Pocket Dimension",
      "warpAction" : "InstanceWorld:atprk_infinitemaze",
      "prerequisiteQuest" : "atprk_infinitemazequest",
      "icon" : "atprk_infinitemaze"
    }
  ]
}
