{
  "canBookmark" : false,
  "includePartyMembers" : false,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "ST Syllectis",
      "planetName" : "Relic Seeker Flagship",
      "warpAction" : "InstanceWorld:atprk_relicseekerhq",
      "icon" : "atprk_relicseekerhq"
    }
  ]
}
