{
  "canBookmark" : false,
  "destinations" : [
    {
      "name" : "Back to the ST Syllectis",
      "planetName" : "Return to the ST Syllectis",
      "warpAction" : "InstanceWorld:atprk_relicseekerhq",
      "icon" : "atprk_relicseekerhq"
    }
  ],
  "includePlayerBookmarks" : false
}

