{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ "Bin", "Cor", "Gar", "Lam", "Lek", "Mor", "Sar", "Siz", "Xan", "Xen", "Zim", "Zin", "Zod", "Zor" ],
      [ "ak", "aka", "darf", "dorf", "ex", "jai", "lak", "larr", "lorr", "mek", "mok", "ok", "oka", "ox", "rax", "yak" ]
    ]
  ]
}
