{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ "Aeli", "Aemi", "Aure", "Bal", "Ca", "Cae", "Cal", "Clau", "Cloe", "Deci", "Dru", "Fla", "Flo", "Gal", "Glau", "Gra", "Hel", "Hila", "Hora", "Io", "Iu", "Ju", "Lau", "Li", "Luci", "Lucre", "Ma", "Mar", "Mari", "Ne", "No", "Octa", "Ovi", "Pau", "Petro", "Pom", "Por", "Pub", "Quin", "Ru", "Rufi", "Sabi", "Secu", "Sci", "Sep", "Sev", "Sil", "Ta", "Ter", "Ti", "Tu", "Va", "Vale", "Vi", "Virgi" ],
      [ "bia", "cella", "cia", "cilla", "da", "dia", "diana", "da", "fa", "gia", "liana", "lia", "ma", "nina", "nia", "na", "peia", "ra", "ria", "sca", "sia", "siana", "silla", "ta", "tia", "tina", "va", "via", "viana", "vita" ]
    ]
  ]
}