{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ "Aemi", "Aure", "Avi", "Bru", "Ca", "Cae", "Cai", "Clau", "Commo", "Corne", "Egna", "Flo", "Ful", "Gai", "Gal", "Gor", "Hel", "Hila", "Hora", "Iu", "Jo", "Lae", "Lau", "Lepi", "Lu", "Luci", "Man", "Mar", "Mari", "Maxi", "Ne", "Octa", "Ovi", "Pau", "Petro", "Pon", "Por", "Pub", "Quin", "Regu", "Ru", "Sabi", "Sal", "Sci", "Sep", "Ser", "Sil", "Ta", "Ter", "Tibe", "Ur", "Va", "Vergi", "Vi", "Vini" ],
      [ "bius", "cellus", "cius", "cus", "dianus", "dius", "dus", "fus", "gius", "kios", "kos", "lianus", "lis", "lius", "lix", "lus", "ninus", "nius", "nus", "rianus", "rius", "ro", "rus", "sar", "sian", "sius", "so", "sus", "to", "tius", "tus", "vian", "vita", "vius", "vus" ]
    ]
  ]
}
