{
  "converse" : {
    "default" : {
      "default" : [
        "Surrender your colony, you primitive!... Oops, sorry, an old habit.",
        "Don't be afraid, I come in peace.",
        "Can I have a living Mooshi specimen? It's for some very important research.",
        "What does ayy lmao mean and why does everyone keep saying it to me?",
        "I visited Area 48 once. It's pretty boring there, they didn't even have any funny-looking aircraft.",
        "Sorry, can't talk right now. I have a MIGHTY NEED to use a bathroom.",
        "This settlement requires more saucer-shaped objects. It's for better safety.",
        "Never try cooking your food with a ray gun. I tried it and it didn't end well.",
        "My people used to build pyramid-shaped monuments across several planets. I wonder if they are still intact.",
        "Somehow I keep getting complaints from local farmers. I mean come on, drawing circles on crop fields is not that bad!"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "We have a serious issue here! Do something, primitive!",
        "This area requires attention!"
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "You disrespected my species and you will pay for it!",
        "Why do I waste my time on you, primitive?!",
        "Alright, that's it! Beam me up, Xandarf!"
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
        "Hostiles detected! Again!",
        "Oh, here you are!",
        "Great, I've just recharged my ray gun!",
        "More intruders!",
        "Alert! Hostiles!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Intruders!",
        "We have hostiles!",
        "Invaders!",
        "Stay where you are!",
        "Hostile activity detected!",
        "Fire!",
        "I see the enemy!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Oh no! I forgot to extract their brain first!",
        "One target down!",
        "Nothing beats death rays.",
        "Hostiles eliminated!",
        "I am superior!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "The hostiles have disengaged.",
        "Next time I'll put their brains in a jar.",
        "Where did they go?"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Target lost.",
        "Where are you now, primitive?",
        "I cannot see the enemy!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Don't think you can avoid my death rays from this distance!",
        "I require assistance!",
        "Alright, where's my tractor beam? I could use it right now."
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "We can do this!",
        "We are close to victory!",
        "Don't let them escape!",
        "Not bad at all, primitive!"
      ]
    }
  }
}