{
  "converse" : {
    "default" : {
      "default" : [
        "Sinister. One day, our K'Rakoth masters shall return and reclaim the galaxy.",
        "Resentful. My people have waited for our masters to return for so long... Perhaps it's time to move on.",
        "Intimidating. Our kingdom shall become great once again!",
        "Menacing. My armor may be ancient, but it is as mighty as before.",
        "Friendly. Do you wish to join the K'Rakoth servants? Our overlords were benevolent while their reign lasted.",
        "Regretful. I've made many mistakes in the past. Can I still start everything over?",
        "Determined. The K'Rakoth fell before our kingdom did. One day, we'll restore everything.",
        "Proud. Our masters left us behind centuries ago, but our kingdom still stands.",
        "Calm. You're not a K'Rakoth, but I acknowledge you as my landlord. For now.",
        "Menacing. Don't bother servants of the K'Rakoth too much, and they may spare you when the time comes."
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "Indignant. This is outrageous! I demand reparations!",
        "Frustrated. Don't try my patience!"
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "Intimidating. The servants of the K'Rakoth shall remember you!",
        "Angry. That's it! You've just lost my trust!"
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "Respectful. Do you want to discuss something?",
        "Informed. I've received your call.",
        "Polite. How can I help you, landlord?",
        "Patient. Yes?"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Satisfied. Much obliged. Here is my rent.",
        "Polite. Thank you for providing me a living space. I'll tell my kin about your help.",
        "Grateful. You seem to be a responsible landlord. Thank you for letting me stay here."
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
        "Observant. The enemy is still out there!",
        "Cautious. Another enemy wave!",
        "Menacing. You dare coming back!",
        "Intimidating. Return where you came from, you fiend!",
        "Alert. The enemy of the K'Rakoth is approaching!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Observant. We're under attack!",
        "Hostile. Charge!",
        "Alert. I see the enemy approahing!",
        "Intimidating. You shall not pass!",
        "Hostile. No escape for you!",
        "Menacing. Do not make a servant of the K'Rakoth angry!",
        "Aggressive. Begone, you heretic!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Pleased. What an intense battle it was!",
        "Angry. Stay down!",
        "Proud. Once again, I am victorious.",
        "Exhausted. They may have hit me, but I won't give up yet.",
        "Menacing. Tell your leader to stay away from us!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Confused. Where did they go?",
        "Alert. The enemy is gone... for now...",
        "Intimidating. Get back there, you coward!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Surprised. I cannot see our enemy!",
        "Angry. Only a coward runs from battle!",
        "Enraged. Show yourself!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Irritated. Don't make me go after you! Face me!",
        "Combative. I know you are still there!",
        "Angry. The enemy is out of my reach! I need help!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "Alert. Watch out for their attacks!",
        "Supportive. The servants of the K'Rakoth shall never fall!",
        "Jeering. Is that all you've got?",
        "Aggressive. Slay the heretic!",
        "Supportive. Our foe must fall! We cannot fail our masters!"
      ]
    }
  }
}