{
  "converse" : {
    "default" : {
      "default" : [
        "How can I help you, master?",
        "Your wish is my command.",
        "I am born to serve, to protect, to help.",
        "Greetings, master.",
        "I will defend this place in your name.",
        "I have slept for centuries, but I can still fight.",
        "I will protect these lands no matter what."
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default" : [
        "Something causes cosmic energies to avoid this place.",
        "Something is wrong, I can feel it.",
        "Master, you should check if the Beacon is working."
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "Master, this place is falling apart. We must do something about it.",
        "The elements can damage the Beacon. It should be kept in an enclosed area."
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "Master, we should not trust the Beacon to strangers.",
        "Master, you cannot summon multiple guardians with one Beacon."
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "I feel great disturbance.",
        "My power fades away."
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "I cannot fight any longer.",
        "My power has vanished. I cannot fight anymore.",
        "I'm sorry, master."
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "Your wish is my command.",
        "I am listening to you, master.",
        "I am ready to serve you."
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "I want to give you this as a sign of my loyalty, master.",
        "It is an honor to serve you, master."
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
        "The enemy is still here.",
        "I will not fail you this time, master.",
        "The inruders have returned."
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "I must protect.",
        "I see the enemy.",
        "Your journey ends here."
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Rest in peace.",
        "The colony is safe now.",
        "I have defeated another enemy."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "I lost my target.",
        "The enemy has retreated.",
        "The enemy has vanished."
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "I can still feel our enemies around us.",
        "I must find the intruders.",
        "No need to hide, I see everything."
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "You cannot evade our fight forever.",
        "I will not fail my master.",
        "I cannot reach our adversaries."
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "We will not allow them to ruin this colony.",
        "The enemy must fall."
      ]
    }
  }
}