{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Anomalous ", "Distorted ", "Warped ", "Corrupted ", "Entangled ", "Eldritch ", "Extradimensional ", "Interdimensional ", "Dimensional ", "Aberrant ", "Twisted ", "Unknown ", "Spatial ", "Abnormal ", "Mysterious ", "Strange ", "Subspace ", "Celestial ", "Pocket ", "Shifting ", "Swirly ", "Expanding ", "Pulsing ", "Paradoxical ", "Paradox ", "Quantum ", "Recursive ", "Unnatural ", "Artificial ", "Particle ", "Geometrical ", "Angular ", "Tesseract ", "Deep ", "Aeon ", "Echoing " ],
      [ { "mode" : "alts" }, "Rift", "Tunnel", "Passage", "Portal", "Gate", "Gateway", "Bypass", "Wormhole", "Whirlpool", "Vortex", "Storm", "Rupture", "Eruption", "Implosion", "Wound", "Scar", "Puncture", "Object", "Formation", "Phenomenon", "Construct", "Opening", "Funnel", "Realm", "Relay", "Plane", "Labyrinth" ]
    ]
  ]
}
